*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

header{
  width:100%;
  height:50px;
  background-color: #ff9A4B;
}

main{
  width:960px;
  margin:50px auto;
  display:flex;
}

.lesson{
  width:300px;
  background-color: #EEEEEE;
  padding:10px;
  position:relative;
}

.lesson:nth-child(-n+2){
  margin-right:30px;
}

.lesson-image{
  height:150px;
  background-position: center;
  background-size: cover;
}

.img1{
background-image: url(img/flow01.png);
}

.img2{
 background-image: url(img/flow02.png);
}

.img3{
  background-image: url(img/flow03.png);
}

span{
  position:absolute;
  top:0;
  left:0;
  background-color: #FF9A4B;
  color:#fff;
}

h3{
  padding:5px 0;
}

footer{
  width:100%;
  height:50px;
  background-color: #AAAAAA;
}



@media screen and (max-width:768px){
  
  main{
    width:100%;
    margin:50px 0;
    display:block;
  }
  
  .lesson{
    width:90%;
    margin:0 auto;
    background-color: #EEEEEE;
  }
  
  .lesson:nth-child(-n+2){
  margin-bottom:20px;
}

}